input {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.top-form {
    display: flex;
    flex-direction: row;
    align-items: strech;
    gap: 10px;
}

