body {
    background-image: url("img/space.jpg");
    background-size: cover;
    background-position: center center;
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(116, 116, 230);
}



.foot-nav {
    background-color: rgb(3, 3, 52);
    font-size: 1.1em;
}
/**************************
 ******* NAVIGATION *******
 **************************/
nav {
    position: sticky;
    top: 0;
    width: 100%;
}

.main-nav {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin: 0px;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.7em;
        padding: 0;
    }
}

li {
    margin: 5px;
    border: outset;
    border-radius: 3px;
    border-color: rgb(3, 3, 52);
    width: 10em;
    text-align: center;
    justify-content: safe;
}

li:hover {
    background-color: rgba(5, 16, 86, 0.6);;
    border: outset;
    border-radius: 3px;
    border-color: rgb(79, 255, 30);
    box-shadow: 5px 5px rgb(79, 255, 30);
}

li:hover a {
    color:rgb(79, 255, 30);
    text-shadow: 2px 2px rgb(5, 105, 5);
}

a {
    padding: 1em 0;
    display:block;
    color:rgb(64, 64, 204);
    text-decoration: none;
    width: 100%;
    height: 100%;
}

/**************************
 **** CONTENT SECTION *****
 **************************/

.content-wrap {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.top-container {
    height: 15em;
    display: grid;
    grid-template-columns: 1;
    justify-content: space-evenly;
    align-items: center;

}

@media only screen and (max-width: 600px) {
    .top-container {
        font-size: 0.8em;
        padding: 0;
        margin: 1em;
    }
}

h1{
    font-size: 4em;
    font-style: italic;
    margin: 0;
    text-align: center;
    color:rgb(79, 255, 30);
    text-shadow: 0.05em 0.05em rgb(5, 105, 5);
}

h3{
    font-size: 2em;
    font-style: italic;
    margin: 0;
    text-align: center;
    color:rgb(79, 255, 30);
    text-shadow: 0.05em 0.05em rgb(5, 105, 5);
}

.mid-container {
    display: grid;
    margin: 2em;
    gap: 1em;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.mid-item {
    background-color: rgb(2, 13, 83, 0.6);
    border: outset;
    border-radius: 10px;
    margin: 10px;
    border-color:rgb(2, 13, 83, 0.8);
    padding: 10px 40px;
    font-size: 1.2em;
}

.mid-item:hover {
    background-color: rgba(13, 16, 190, 0.5);
    border: outset;
    border-radius: 10px;
    border-color: rgb(79, 255, 30);
    box-shadow: 5px 5px rgb(79, 255, 30);
    color:rgb(79, 255, 30);
    text-shadow: 2px 2px rgb(5, 105, 5);
}

@media only screen and (max-width: 600px) {
    .mid-container {
        padding: 0;
        margin: 1px;
    }

    .mid-item {
        padding: 1em;
    }

    .mid-item h2 {
        padding: 0;
        margin: 0.5em;
    }
    .mid-item p {
        padding: 0;
        margin: 0px;
    }

}

p {
    text-align: justify;
}

/**************************
 ********* FOOTER *********
 **************************/

footer {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

