:root {
    --color-green: rgb(79, 255, 30);
    --color-blue-dark: rgb(3, 3, 52);
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.img-background{
    position: fixed;
    background-image: url("img/space.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    transform: scale(1.1);
}

.foot-nav {
    background-color: var(--color-blue-dark);
    font-size: 1.1em;
}
/**************************
 ******* NAVIGATION *******
 **************************/
nav {
    position: sticky;
    top: 0;
    width: 100%;
    margin-bottom: 2em;
}

.main-nav {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    margin: 0px;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.8em;
        padding: 0;
    }
}

li {
    margin: 5px;
    border: outset;
    border-radius: 3px;
    border-color: rgb(3, 3, 52);
    width: 10em;
    text-align: center;
    justify-content: safe;
}

li:hover {
    background-color: rgba(5, 16, 86, 0.6);
    border: outset;
    border-radius: 3px;
    border-color: var(--color-green);
    box-shadow: 0 0 20px var(--color-green);
}

li:hover a {
    color:var(--color-green);;
}

a {
    padding: 1em 0;
    display:block;
    color:rgb(255, 255, 255);
    text-decoration: none;
    -webkit-text-stroke: 1px var(--color-green);
    letter-spacing: 1px;
    width: 100%;
    height: 100%;
}

/**************************
 **** CONTENT SECTION *****
 **************************/

.content-wrap {
    max-width: 1024px;
    margin: 0 auto 2em;
    width: 100%;
}

.top-container {
    min-height: 20vh;
    display: grid;
    grid-template-columns: 1;
    justify-content: space-evenly;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .top-container {
        font-size: 0.8em;
        padding: 0;
        margin: 1em;
    }
}

h1{
    font-size: 4em;
    font-style: italic;
    margin: 20px 0 0 0;
    text-align: center;
    -webkit-text-stroke: 1px var(--color-blue-dark);
}

h3{
    font-size: 2em;
    font-style: italic;
    margin: 0;
    text-align: center;
    color:var(--color-green);
    -webkit-text-stroke: 1px var(--color-blue-dark);
}

.mid-container {
    display: grid;
    margin: 2em;
    gap: 1em;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}

.mid-item {
    background-color: rgb(2, 13, 83, 0.6);
    border: outset;
    border-radius: 10px;
    margin: 10px;
    border-color:var(--color-blue-dark);;
    padding: 10px 40px;
    font-size: 1.2em;
}

.mid-item:hover {
    background-color: rgba(3, 3, 52, 0.8);
    border: outset;
    border-radius: 10px;
    border-color: var(--color-green);;
    color:var(--color-green);
    -webkit-animation: box-glow 2s ease-out infinite alternate;
    -moz-animation: box-glow 2s ease-out infinite alternate;
    animation: box-glow 2s ease-out infinite alternate;
}

@media only screen and (max-width: 600px) {
    .mid-container {
        padding: 0;
        margin: 1px;
    }

    .mid-item {
        padding: 1em;
    }

    .mid-item h2 {
        padding: 0;
        margin: 0.5em;
    }
    .mid-item p {
        padding: 0;
        margin: 0px;
    }

}

p {
    text-align: justify;
}

/**************************
 ********* FOOTER *********
 **************************/

footer {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 0;
    margin-top: auto;
    width: 100%;
}



/*******************************
 ********* Animations **********
 *******************************/

 .glow {
    color: rgb(19, 19, 138);
    text-align: center;
    -webkit-animation: glow 1.5s ease-in-out infinite alternate;
    -moz-animation: glow 1.5s ease-in-out infinite alternate;
    animation: glow 1.5s ease-in-out infinite alternate;
  }

  .nav-glow {
    color: rgb(19, 19, 138);
    -webkit-animation: glow-nav 1.5s ease-in-out infinite alternate;
    -moz-animation: glow-nav 1.5s ease-in-out infinite alternate;
    animation: glow-nav 1.5s ease-in-out infinite alternate;
  }

  @keyframes glow {
    from {
      text-shadow: 0 0 10px rgb(63, 247, 13), 0 0 15px rgb(63, 247, 13), 0 0 25px rgb(63, 247, 13);
    }
    to {
      text-shadow: 0 0 15px rgb(145, 252, 116), 0 0 20px rgb(145, 252, 116), 0 0 30px rgb(145, 252, 116);
    }
  }

  @keyframes glow-nav {
    from {
      text-shadow: 0 0 20px rgb(63, 247, 13), 0 0 30px rgb(63, 247, 13), 0 0 40px rgb(63, 247, 13);
    }
    to {
      text-shadow: 0 0 25px rgb(145, 252, 116), 0 0 35px rgb(145, 252, 116), 0 0 45px rgb(145, 252, 116);
    }
  }

  @keyframes box-glow {
      from {
          box-shadow: 0 0 5x var(--color-green), 0 0 10px var(--color-green), 0 0 15px var(--color-green), 0 0 20px var(--color-green);
      }
      to {
          box-shadow: 0 0 10px rgb(112, 238, 78), 0 0 15px rgb(112, 238, 78), 0 0 20px rgb(112, 238, 78), 0 0 25px rgb(112, 238, 78);
      }
  }

  @keyframes box-glow-big {
    from {
        box-shadow: 0 0 10px rgb(112, 238, 78), 0 0 15px rgb(112, 238, 78), 0 0 20px rgb(112, 238, 78), 0 0 25px rgb(112, 238, 78);
    }
    to {
        box-shadow: 0 0 10px var(--color-green), 0 0 20px var(--color-green), 0 0 25px var(--color-green), 0 0 30px var(--color-green);
    }
}


